/* App.css */
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background: rgb(185, 196, 157);
  background: linear-gradient(180deg, rgba(221,238,237,1) 40%, rgba(185,196,157,1) 100%);
}

hr{
  border: 1px solid rgb(188, 213, 212);
}

@media only screen and (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1440px) {
  .app {
    flex-direction: column;
  }
}